<div class="header">{{Consignment_ReportTitle}} מספר: {{VarSequence}}</div>

<div class="row" style="display: flex; width: 100%; box-sizing: border-box; justify-content: space-between; direction: rtl;">
    <div style="flex: 1 1 50%; min-width: 200px; display: flex;">
        <span class="label">גוש:</span>
        <span class="value">{{Consignment_FormattedGush}}</span>
    </div>
    <div style="flex: 1 1 17%; min-width: 200px; display: flex;">
        <span class="label">תאריך:</span>
        <span class="value">{{DateOpen}}</span>
    </div>
</div>
